.common__section {
  background: linear-gradient(
      rgba(33, 34, 69, 0.6980392156862745),
      rgba(33, 34, 69, 0.6980392156862745)
    ),
    url(../images/bannerFood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 80px 0;
}
.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}
.search__widget input {
    border: none;
}
.cart__img-box {
    width: 80px;
}
.cart__subtotal {
    color: #df2020;
    font-size: 1.5rem;
}
.con{
    background-color: #fde4e4;
}
.addTOCart__btn {
    border: none;
    padding: 7px 25px;
    background: #df2020;
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
}