h1, h2, h3, h4, h5, h6 {
    font-family: "RocknRoll One",sans-serif!important;
}

.bg-color{
    background-color: #fcfcfc;
}
.logo img{
    width: 40%;
    object-fit: contain;
    vertical-align:middle;
}

.logo h5, .menu a {
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #df2020!important;

}
.active-menu {
    color: #df2020!important;
}
.cart__icon {
    position: relative;
}
.cart__icon i, .mobile__menu i, .user i {
    font-size: 1.3rem;
    color: #212245;
    cursor: pointer;
}
.cart__badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #df2020;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart__icon i, .mobile__menu i, .user i {
    font-size: 1.3rem;
    color: #212245;
    cursor: pointer;
}
